language: node_js
node_js:
- '5'
before_install:
- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- sleep 3
script:
- npm run test
- cat ./coverage/lcov.info | coveralls

before_deploy:
# package and navigate to dist
- npm run prepare-dist
- cd dist/npm
# update package version
- npm version "$TRAVIS_TAG" --no-git-tag-version --save

deploy:
  provider: npm
  skip_cleanup: true
  email: igniteui@infragistics.com
  api_key:
    secure: buM4Owt6aQQvxk9KgkglqUVWOoRoc1sr7vTislMSD8RJWuY0605Bxtfc3iymGn3dW0MWeek64orGZFv7LQi1LkPSPMG344qHVuTIdqu7upAr2ZhOUT2DPlhy3OIBKlb2ZIuR4rcDKWpCu7wMZCo3mhyOmAYiHINelRnBqpZODZs7Jj2JMAFDwthsQ/pmgCtGhpFxLGrqvbcEL6J7mrZDlywYd33rPduEbj7VESss4GpF0YNOHxVV27AVaK7NQmBezy5LoBPh9QS3JYx6sszq75mOtRrZeLxIuxKO+6qfVR6HWnwEQNUrC0rX2gIliXPMA/EOLVowLznP7CWdCHLmsdXBId85fH+WuQNBLL3RWDE9tFNwNRbBxJrz0YAba3OBudbDASrnxGINRJnkduK+mP20I6KPc3v0VpxAao3CgLvXyszAS1N9qFokySl+IIdS+7MoK36OLN2rJlDamsNIrQcHIAdMNuOnpex/2p5yUl5TO2+0DTpxmNxS/e76RjW5HW1mkOLG3inAB1Eh41gDodCJGwzTwonFSdFTSI0g942yY5e9AXoIdfx+xcCOtcrHGF84G3rjjsHAc+rvOdtuMfgwxttmtnK5G0n1RqpJOXDBr6dx8r0OMTjqp4rF8msik5W4pTk9e7mquKuRcYVGojVGWcKbLVp6pryp/6crSQs=
  on:
    tags: true
    repo: IgniteUI/igniteui-react-wrappers
    branch: master