.push-down {
    margin-top:4em;
}

.push-down-md {
    margin-top:2em;
}

.push-down-xs {
    margin-top:1em;
}

footer {
    border-top:1px solid #ccc;
    background-color:#ddd;
    padding:50px;
    margin-top:25px;
    color:#999;
}

.description {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    margin-top: 15px;
}

.try-it-out hr {
    margin: 0px;
    margin-top: 4px;
}


.try-it-out ul li{
    margin-top: 8px;
    margin-bottom: 8px;
}